<app-sidebar></app-sidebar>
<h1>NEW MOVIES</h1>
<div  id="newmovielist">
        <div class="container">
                <div class="row">
                  <div class="col">
                    <a routerLink="/detail/{{arrMovies.results[0].id}}" title={{arrMovies.results[0].title}}>
                      <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[0].poster_path}}">
                          <p>Release Date: {{this.arrMovies.results[0].release_date}}</p>
                    </a>
                    </div>
                  
                  <div class="col">
                    <a routerLink="/detail/{{arrMovies.results[1].id}}" title={{arrMovies.results[1].title}}>
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[1].poster_path}}"><p>Release Date: {{this.arrMovies.results[1].release_date}}</p>
                    </a>
                </div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[2].id}}" title={{arrMovies.results[2].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[2].poster_path}}"><p>Release Date: {{this.arrMovies.results[2].release_date}}</p>
                    </a>
                    </div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[3].id}}" title={{arrMovies.results[3].title}}>      
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[3].poster_path}}"><p>Release Date: {{this.arrMovies.results[3].release_date}}</p>
                            </a>
                </div>
                  <div class="w-100"></div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[4].id}}" title={{arrMovies.results[4].title}}>      
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[4].poster_path}}"><p>Release Date: {{this.arrMovies.results[4].release_date}}</p>
                    </a>                
                </div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[5].id}}" title={{arrMovies.results[5].title}}>      
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[5].poster_path}}"><p>Release Date: {{this.arrMovies.results[5].release_date}}</p>
                            </a>
                </div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[6].id}}" title={{arrMovies.results[6].title}}>      
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[6].poster_path}}"><p>Release Date: {{this.arrMovies.results[6].release_date}}</p>
                </a>
                </div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[7].id}}" title={{arrMovies.results[7].title}}>      
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[7].poster_path}}"><p>Release Date: {{this.arrMovies.results[7].release_date}}</p>
                </a>
                </div>
                  <div class="w-100"></div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[8].id}}" title={{arrMovies.results[8].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[8].poster_path}}"><p>Release Date: {{this.arrMovies.results[8].release_date}}</p>
                            </a>
                </div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[9].id}}" title={{arrMovies.results[9].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[9].poster_path}}"><p>Release Date: {{this.arrMovies.results[9].release_date}}</p>
                </a>
                </div>
                <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[10].id}}" title={{arrMovies.results[10].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[10].poster_path}}"><p>Release Date: {{this.arrMovies.results[10].release_date}}</p>
                </a>
                </div>
                <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[11].id}}" title={{arrMovies.results[11].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[11].poster_path}}"><p>Release Date: {{this.arrMovies.results[11].release_date}}</p>
                </a>
                </div>
                  <div class="w-100"></div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[12].id}}" title={{arrMovies.results[12].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[12].poster_path}}"><p>Release Date: {{this.arrMovies.results[12].release_date}}</p>
                </a>
                </div>
                <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[13].id}}" title={{arrMovies.results[13].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[13].poster_path}}"><p>Release Date: {{this.arrMovies.results[13].release_date}}</p>
                </a>
                </div>
                                    <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[14].id}}" title={{arrMovies.results[14].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[14].poster_path}}"><p>Release Date: {{this.arrMovies.results[14].release_date}}</p>
                </a>
                </div>
                                    <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[15].id}}" title={{arrMovies.results[15].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[15].poster_path}}"><p>Release Date: {{this.arrMovies.results[15].release_date}}</p>
                </a>
                </div>
                  <div class="w-100"></div>
                                    <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[16].id}}" title={{arrMovies.results[16].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[16].poster_path}}"><p>Release Date: {{this.arrMovies.results[16].release_date}}</p>
                </a>
                </div>
                                    <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[17].id}}" title={{arrMovies.results[17].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[17].poster_path}}"><p>Release Date: {{this.arrMovies.results[17].release_date}}</p>
                </a>
                </div>
                                    <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[18].id}}" title={{arrMovies.results[18].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[18].poster_path}}"><p>Release Date: {{this.arrMovies.results[18].release_date}}</p>
                </a>
                </div>
                  <div class="col">
                        <a routerLink="/detail/{{arrMovies.results[19].id}}" title={{arrMovies.results[19].title}}>  
                    <img src="https://image.tmdb.org/t/p/w500{{this.arrMovies.results[19].poster_path}}"><p>Release Date: {{this.arrMovies.results[19].release_date}}</p>
                </a>
                </div>                </div>
              </div>
</div>
