<app-sidebar></app-sidebar>
<h1>TOP 50 HIGHEST GROSSING</h1>
<a routerLink="/olddetail/{{arrMovies.results[0].id}}" title={{arrMovies.results[0].title}}>
    <div id="s1"></div><div id="r1"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[1].id}}" title={{arrMovies.results[1].title}}>
    <div id="s2"></div><div id="r2"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[2].id}}" title={{arrMovies.results[2].title}}>
    <div id="s3"></div><div id="r3"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[3].id}}" title={{arrMovies.results[3].title}}>
    <div id="s4"></div><div id="r4"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[4].id}}" title={{arrMovies.results[4].title}}>
    <div id="s5"></div><div id="r5"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[5].id}}" title={{arrMovies.results[5].title}}>
    <div id="s6"></div><div id="r6"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[6].id}}" title={{arrMovies.results[6].title}}>
    <div id="s7"></div><div id="r7"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[7].id}}" title={{arrMovies.results[7].title}}>
    <div id="s8"></div><div id="r8"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[8].id}}" title={{arrMovies.results[8].title}}>
    <div id="s9"></div><div id="r9"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[9].id}}" title={{arrMovies.results[9].title}}>
    <div id="s10"></div><div id="r10"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[10].id}}" title={{arrMovies.results[10].title}}>
    <div id="s11"></div><div id="r11"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[11].id}}" title={{arrMovies.results[11].title}}>
    <div id="s12"></div><div id="r12"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[12].id}}" title={{arrMovies.results[12].title}}>
    <div id="s13"></div><div id="r13"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[13].id}}" title={{arrMovies.results[13].title}}>
    <div id="s14"></div><div id="r14"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[14].id}}" title={{arrMovies.results[14].title}}>
    <div id="s15"></div><div id="r15"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[15].id}}" title={{arrMovies.results[15].title}}>
    <div id="s16"></div><div id="r16"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[16].id}}" title={{arrMovies.results[16].title}}>
    <div id="s17"></div><div id="r17"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[17].id}}" title={{arrMovies.results[17].title}}>
    <div id="s18"></div><div id="r18"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[18].id}}" title={{arrMovies.results[18].title}}>
    <div id="s19"></div><div id="r19"></div></a>
    <a routerLink="/olddetail/{{arrMovies.results[19].id}}" title={{arrMovies.results[19].title}}>
    <div id="s20"></div><div id="r20"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[0].id}}" title={{arrMovies2.results[0].title}}>
    <div id="s21"></div><div id="r21"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[1].id}}" title={{arrMovies2.results[1].title}}>
    <div id="s22"></div><div id="r22"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[2].id}}" title={{arrMovies2.results[2].title}}>
    <div id="s23"></div><div id="r23"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[3].id}}" title={{arrMovies2.results[3].title}}>
    <div id="s24"></div><div id="r24"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[4].id}}" title={{arrMovies2.results[4].title}}>
    <div id="s25"></div><div id="r25"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[5].id}}" title={{arrMovies2.results[5].title}}>
    <div id="s26"></div><div id="r26"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[6].id}}" title={{arrMovies2.results[6].title}}>
    <div id="s27"></div><div id="r27"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[7].id}}" title={{arrMovies2.results[7].title}}>
    <div id="s28"></div><div id="r28"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[8].id}}" title={{arrMovies2.results[8].title}}>
    <div id="s29"></div><div id="r29"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[9].id}}" title={{arrMovies2.results[9].title}}>
    <div id="s30"></div><div id="r30"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[10].id}}" title={{arrMovies2.results[10].title}}>
    <div id="s31"></div><div id="r31"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[11].id}}" title={{arrMovies2.results[11].title}}>
    <div id="s32"></div><div id="r32"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[12].id}}" title={{arrMovies2.results[12].title}}>
    <div id="s33"></div><div id="r33"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[13].id}}" title={{arrMovies2.results[13].title}}>
    <div id="s34"></div><div id="r34"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[14].id}}" title={{arrMovies2.results[14].title}}>
    <div id="s35"></div><div id="r35"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[15].id}}" title={{arrMovies2.results[15].title}}>
    <div id="s36"></div><div id="r36"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[16].id}}" title={{arrMovies2.results[16].title}}>
    <div id="s37"></div><div id="r37"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[17].id}}" title={{arrMovies2.results[17].title}}>
    <div id="s38"></div><div id="r38"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[18].id}}" title={{arrMovies2.results[18].title}}>
    <div id="s39"></div><div id="r39"></div></a>
    <a routerLink="/olddetail/{{arrMovies2.results[19].id}}" title={{arrMovies2.results[19].title}}>
    <div id="s40"></div><div id="r40"></div></a> 
    <a routerLink="/olddetail/{{arrMovies3.results[0].id}}" title={{arrMovies3.results[0].title}}>
    <div id="s41"></div><div id="r41"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[1].id}}" title={{arrMovies3.results[1].title}}>
    <div id="s42"></div><div id="r42"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[2].id}}" title={{arrMovies3.results[2].title}}>
    <div id="s43"></div><div id="r43"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[3].id}}" title={{arrMovies3.results[3].title}}>
    <div id="s44"></div><div id="r44"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[4].id}}" title={{arrMovies3.results[4].title}}>
    <div id="s45"></div><div id="r45"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[5].id}}" title={{arrMovies3.results[5].title}}>
    <div id="s46"></div><div id="r46"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[6].id}}" title={{arrMovies3.results[6].title}}>
    <div id="s47"></div><div id="r47"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[7].id}}" title={{arrMovies3.results[7].title}}>
    <div id="s48"></div><div id="r48"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[8].id}}" title={{arrMovies3.results[8].title}}>
    <div id="s49"></div><div id="r49"></div></a>
    <a routerLink="/olddetail/{{arrMovies3.results[9].id}}" title={{arrMovies3.results[9].title}}>
    <div id="s50"></div><div id="r50"></div></a>
    